*{
    justify-content: center;
}

body {
    transition: background-color 0.5s ease;
}

#addDiv{
    display: flex;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-button, .add-button{
    width: 100px;
    margin: 10px 20px;
    border-radius: 12px;
    border: solid 1px black;
    cursor: pointer;
    padding: 10px 20px;
    transition: width .5s ease;
    color: white;
}

.add-button{
    color: black;
}

.color-button:hover, .add-button:hover{
    width: 120px;
}